.banner-container {
  width: 100%;
  height: calc(100vh - 70px);
  position: relative;
  margin-top: 70px;
}

.banner-imgs-container {
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.banner-img-mostrar {
  opacity: 1;
}

.banner-capa {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #00000099;
}

.container-logo-section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

.logo-section1 {
  min-width: 50px;
  max-width: 700px;
  width: 75%;
  /* height: 100%; */
  object-fit: contain;
  margin-bottom: 15px;
}

.container-eslogan {
  color: white;
  font-size: 19px;
}

.cita-link-container {
  position: absolute;
  bottom: 50px;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: center;
}

.cita-link {
  background-color: #c63d8f;
  padding: 10px 30px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.cita-link:hover {
  background-color: white;
  color: #c63d8f;
}

.seccion-2 {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 8px;
}

.img-section-2 {
  flex: 1;
  border-radius: 8px;
  overflow: hidden;
  margin: 12px;
  width: 20%;
  min-width: 300px;
  max-height: 250px;
}

.img-section-2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.descripcion-section-2 {
  margin: 12px;
  min-width: 70%;
  flex: 1;
  font-size: 20px;
}

.parr1-descrip-section-2 {
  margin-bottom: 30px;
  font-weight: bold;
}

.section-3 {
  padding: 0px 20px;
  margin-bottom: 100px;
}

.s3-title-container {
  padding-bottom: 30px;
  color: #ed39a5;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.s3-nosotras-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.s3-persona-container {
  width: 20%;
  min-width: 250px;
  max-width: 650px;
  margin: 8px;
  position: relative;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
}

.s3-persona-imagen {
  height: 100%;
  width: 100%;
}

.s3-persona-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.nombre-persona {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  padding: 15px;
  background-color: #00000050;
  color: white;
  backdrop-filter: blur(4px);
  /*  blur: desenfoque y en el interior la cantidad de pixeles a desenfocar*/
  transition: background-color 0.4s ease-in-out, height 0.4s ease-in-out;
}

.nombre-persona h3 {
  font-size: 25px;
  text-align: center;
}

.description-persona {
  font-size: 18px;
  font-style: italic;
  height: 0;
  overflow: hidden;
}

.s3-persona-container:hover .nombre-persona {
  background-color: #00000090;
  height: 100%;
}

.s3-persona-container:hover .description-persona {
  height: auto;
  margin-top: 15px;
  overflow: visible;
}
