<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administraciòn usuarios</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-container">
                        <table class="modern-table" id="table_usuarios_admin">
                            <thead>
                                <th>Còdigo User</th>
                                <th>Nombres y Apellidos</th>
                                <th>Correo</th>
                                <th>Telefóno</th>
                                <th>Fecha de nacimiento</th>
                                <th>Dirección</th>
                                <th>Genero</th>
                                <th></th>
                            </thead>
                            <tbody id="table_contenido_usuarios_admin">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="../../js/table.js"></script>
</body>
</html>