<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link rel="shortcut icon" href="../images/Spa.svg" type="image/x-icon" />
    <link rel="stylesheet" href="../css/componentes.css" />
    <link rel="stylesheet" href="../css/index.css" />

    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/alerts.css">
    <link rel="stylesheet" href="../css/modal.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="shortcut icon" href="../../images/Spa.svg" type="image/x-icon" />
   
  </head>
  <body>
    
<div id="header-container"></div>
<div id="contenido"></div>
    
    
    <script src="../js/load.js"></script>
    <script>
      if(typeof initLoad === 'function'){
        initLoad();
      }
    </script>
    <script src="../js/baner.js"></script>
  </body>
</html>
