<section class="banner-container">
      <div class="banner-imgs-container">
        <img
          id="banner-img-1"
          class="banner-img banner-img-mostrar"
          src="../images/banner/spa1.jpg"
          alt="masajes"
        />
        <img
          id="banner-img-2"
          class="banner-img"
          src="../images/banner/spa2.webp"
          alt="Piedras"
        />
        <img
          id="banner-img-3"
          class="banner-img"
          src="../images/banner/spa3.jpg"
          alt="masajes en manos"
        />
      </div>

      <div class="banner-capa"></div>

      <div class="container-logo-section1">
        <img
          class="logo-section1"
          src="../images/Spa Canelita-logo-blanco.svg"
          alt=""
        />
        <p class="container-eslogan">
          Un Spa único, nuevo y diferente en Ciudad Real
        </p>
      </div>
      <div class="cita-link-container">
        <a class="cita-link" href="./agendar.html">Hacer cita</a>
      </div>
    </section>

    <section class="seccion-2">
      <div class="img-section-2">
        <img src="../images/secccion-2.jpg" alt="" />
      </div>

      <div class="descripcion-section-2">
        <p class="parr1-descrip-section-2">
          Su mejor centro de Spa, Belleza y cuidado de la piel.
        </p>

        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora ex
          voluptate nesciunt earum deleniti nemo blanditiis animi, mollitia esse
          suscipit. Ut enim error mollitia. Vero nisi molestias quidem dolorum?
          Quisquam. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Mollitia dignissimos quidem totam deleniti ex ipsa eos sit architecto
          assumenda nisi eum nesciunt adipisci iste quaerat dolore quam aut,
          perspiciatis consequuntur. Lorem ipsum dolor sit amet, consectetur
          adipi adipisicing elit. Cum tempore porro tempora laborum excepturi.
          Corrupti fugiat doloribus voluptas reiciendis quasi! Quos nihil at
          natus alias sapiente suscipit unde voluptas atque. Lorem ipsum dolor
          sit, amet consectetur adipisicing elit. Perferendis voluptatem nostrum
          nam eius, corporis neque architecto consectetur exercitationem,
          suscipit rem porro, iusto dolorum non. Dolor velit perferendis
          repellat commodi minima.
        </p>
      </div>
    </section>

    <section class="section-3">
      <div class="s3-title-container">
        <h2>Nuestras Canelitas</h2>
      </div>

      <div class="s3-nosotras-container">
        <div class="s3-persona-container">
          <div class="s3-persona-imagen">
            <img src="../images/carla.jpg" alt="carla" />
          </div>

          <div class="nombre-persona">
            <h3>Carla</h3>

            <p class="description-persona">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptates consequuntur sapiente tempore! Perferendis esse natus
              reprehenderit iure pariatur repellendus qui earum accusamus
              incidunt, quaerat, rem dolor quod, dolores error quae.
            </p>
          </div>
        </div>

        <div class="s3-persona-container">
          <div class="s3-persona-imagen">
            <img src="../images/madison.jpg" alt="madison" />
          </div>

          <div class="nombre-persona">
            <h3>Madison</h3>

            <p class="description-persona">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptates consequuntur sapiente tempore! Perferendis esse natus
              reprehenderit iure pariatur repellendus qui earum accusamus
              incidunt, quaerat, rem dolor quod, dolores error quae.
            </p>
          </div>
        </div>

        <div class="s3-persona-container">
          <div class="s3-persona-imagen">
            <img src="../images/dayana.jpg" alt="Dayana" />
          </div>

          <div class="nombre-persona">
            <h3>Dayana</h3>

            <p class="description-persona">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptates consequuntur sapiente tempore! Perferendis esse natus
              reprehenderit iure pariatur repellendus qui earum accusamus
              incidunt, quaerat, rem dolor quod, dolores error quae.
            </p>
          </div>
        </div>

        <div class="s3-persona-container">
          <div class="s3-persona-imagen">
            <img src="../images/susana.jpg" alt="Susana" />
          </div>

          <div class="nombre-persona">
            <h3>Susana</h3>

            <p class="description-persona">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptates consequuntur sapiente tempore! Perferendis esse natus
              reprehenderit iure pariatur repellendus qui earum accusamus
              incidunt, quaerat, rem dolor quod, dolores error quae.
            </p>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer-container">
      <div class="footer-logo">
        <img src="../images/SpaCanelitaLogo.svg" alt="Spa canelita" />
      </div>

      <p class="footer-description">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus
        temporibus praesentium deleniti, eaque delectus culpa dolorem aperiam
        quaerat maiores voluptatibus doloremque quisquam? Neque cupiditate
        tenetur, a eveniet delectus ut qui!
      </p>

      <div class="footer-inf-container">
        <div class="info-item">
          <img src="../images/ubicacion-icono.svg" alt="ubicación" />

          <p>Cl. Toledo, 23, 13005 Ciudad Real</p>
        </div>

        <a href="tel:+34672998765" class="info-item">
          <img src="../images/tel-icono.svg" alt="telefono" />

          <p>+34 672 99 87 65</p>
        </a>

        <div class="info-item">
          <img src="../images/email-icono.svg" alt="email" />

          <p>contacto@spacanelita.com</p>
        </div>
      </div>

      <div class="legal-container">
        <div class="copyright-cont">
          <img src="../images/copyright-icono.svg" alt="C" />

          <p>Spa Canelita, Derechos de autor.</p>
        </div>

        <div class="redes-sociales">
          <a class="social-link" href="https://twitter.com" target="_blank">
            <img src="../images/twitter-icono.svg" alt="twitter" />
          </a>

          <a class="social-link" href="https://facebook.com" target="_blank">
            <img src="../images/facebook-icono.svg" alt="facebook" />
          </a>

          <a class="social-link" href="https://whatsapp.com" target="_blank">
            <img src="../images/whatsapp-icono.svg" alt="whatsapp" />
          </a>

          <a class="social-link" href="https://instagram.com" target="_blank">
            <img src="../images/instagram-icono.svg" alt="instagram" />
          </a>
        </div>
      </div>
    </footer>