<!--<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Servicios</title>
    <link rel="shortcut icon" href="../images/Spa.svg" type="image/x-icon" />
    <link rel="stylesheet" href="../css/componentes.css" />
    <link rel="stylesheet" href="../css/servicios.css" />
    
  </head>
  <body>
    
<div class="" id="header-container"></div>-->
    <div class="servicios">
      <section class="servicios-section">
        <h2 class="servicios-titulo">Tratamientos Faciales</h2>

        <div class="servicios-inf">
          <div class="servicio-tarjeta">
            <img
              src="../images/servicios/Babor-spress.jpeg"
              alt="Babor Spress"
            />

            <div class="servicio-targeta-info">
              <h3>Babor Spress</h3>
              <p>35 €</p>
            </div>
            <p class="servicio-tarj-descripcion">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
              corrupti nam suscipit expedita ratione illum sequi, fugit modi
              sint voluptatum ipsam recusandae nemo reprehenderit unde quas qui
              corporis. Dignissimos, repudiandae.
            </p>
          </div>

          <div class="servicio-tarjeta">
            <img
              src="../images/servicios/velos-de-colageno.jpg"
              alt="Velos de colágeno"
            />

            <div class="servicio-targeta-info">
              <h3>Velos de colágeno</h3>
              <p>60 €</p>
            </div>
            <p class="servicio-tarj-descripcion">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
              corrupti nam suscipit expedita ratione illum sequi, fugit modi
              sint voluptatum ipsam recusandae nemo reprehenderit unde quas qui
              corporis. Dignissimos, repudiandae.
            </p>
          </div>

          <div class="servicio-tarjeta">
            <img
              src="../images/servicios/crash-ampollas.jpg"
              alt="Crash Ampollas"
            />

            <div class="servicio-targeta-info">
              <h3>Crash Ampollas</h3>
              <p>90 €</p>
            </div>
            <p class="servicio-tarj-descripcion">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
              corrupti nam suscipit expedita ratione illum sequi, fugit modi
              sint voluptatum ipsam recusandae nemo reprehenderit unde quas qui
              corporis. Dignissimos, repudiandae.
            </p>
          </div>
        </div>
      </section>

      <section class="servicios-section">
        <h2 class="servicios-titulo">Tratamientos Corporales</h2>

        <div class="servicios-inf">
          <div class="servicio-tarjeta">
            <img
              src="../images/servicios/cleopatra-h-l.jpg"
              alt="Hidratante de Leche"
            />

            <div class="servicio-targeta-info">
              <h3>Cleopatra - Hidratante de Leche</h3>
              <p>42 €</p>
            </div>
            <p class="servicio-tarj-descripcion">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
              corrupti nam suscipit expedita ratione illum sequi, fugit modi
              sint voluptatum ipsam recusandae nemo reprehenderit unde quas qui
              corporis. Dignissimos, repudiandae.
            </p>
          </div>

          <div class="servicio-tarjeta">
            <img
              src="../images/servicios/chocolaterapia.jpg"
              alt="Chocolaterapia"
            />

            <div class="servicio-targeta-info">
              <h3>Chocolaterapia</h3>
              <p>55 €</p>
            </div>
            <p class="servicio-tarj-descripcion">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
              corrupti nam suscipit expedita ratione illum sequi, fugit modi
              sint voluptatum ipsam recusandae nemo reprehenderit unde quas qui
              corporis. Dignissimos, repudiandae.
            </p>
          </div>

          <div class="servicio-tarjeta">
            <img src="../images/servicios/vinoterapia.webp" alt="Vinoterapia" />

            <div class="servicio-targeta-info">
              <h3>Vinoterapia</h3>
              <p>80 €</p>
            </div>
            <p class="servicio-tarj-descripcion">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
              corrupti nam suscipit expedita ratione illum sequi, fugit modi
              sint voluptatum ipsam recusandae nemo reprehenderit unde quas qui
              corporis. Dignissimos, repudiandae.
            </p>
          </div>

          <div class="servicio-tarjeta">
            <img
              src="../images/servicios/cerezoterapia.jpg"
              alt="Cerezoterapia"
            />

            <div class="servicio-targeta-info">
              <h3>Cerezoterapia</h3>
              <p>100 €</p>
            </div>
            <p class="servicio-tarj-descripcion">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
              corrupti nam suscipit expedita ratione illum sequi, fugit modi
              sint voluptatum ipsam recusandae nemo reprehenderit unde quas qui
              corporis. Dignissimos, repudiandae.
            </p>
          </div>

          <div class="servicio-tarjeta">
            <img src="../images/servicios/spa-herbal.jpg" alt="spa Herbal" />

            <div class="servicio-targeta-info">
              <h3>Spa Herbal</h3>
              <p>120 €</p>
            </div>
            <p class="servicio-tarj-descripcion">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
              corrupti nam suscipit expedita ratione illum sequi, fugit modi
              sint voluptatum ipsam recusandae nemo reprehenderit unde quas qui
              corporis. Dignissimos, repudiandae.
            </p>
          </div>

          <div class="servicio-tarjeta">
            <img
              src="../images/servicios/aceite-oliva.jpg"
              alt="Aceite de Oliva Cascantum"
            />

            <div class="servicio-targeta-info">
              <h3>Aceite de Oliva Cascantum</h3>
              <p>70 €</p>
            </div>
            <p class="servicio-tarj-descripcion">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
              corrupti nam suscipit expedita ratione illum sequi, fugit modi
              sint voluptatum ipsam recusandae nemo reprehenderit unde quas qui
              corporis. Dignissimos, repudiandae.
            </p>
          </div>
        </div>
      </section>

      <section class="servicios-section">
        <h2 class="servicios-titulo">Masajes</h2>

        <div class="servicios-inf">
          <div class="servicio-tarjeta">
            <img
              src="../images/servicios/bambu.jpeg"
              alt="Tailandés con Bambú"
            />

            <div class="servicio-targeta-info">
              <h3>Tailandés con Bambú</h3>
              <p>80 €</p>
            </div>
            <p class="servicio-tarj-descripcion">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
              corrupti nam suscipit expedita ratione illum sequi, fugit modi
              sint voluptatum ipsam recusandae nemo reprehenderit unde quas qui
              corporis. Dignissimos, repudiandae.
            </p>
          </div>

          <div class="servicio-tarjeta">
            <img
              src="../images/servicios/relax-oliva.jpg"
              alt="Relax aceite de Oliva"
            />

            <div class="servicio-targeta-info">
              <h3>Relax aceite de Oliva</h3>
              <p>90 €</p>
            </div>
            <p class="servicio-tarj-descripcion">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
              corrupti nam suscipit expedita ratione illum sequi, fugit modi
              sint voluptatum ipsam recusandae nemo reprehenderit unde quas qui
              corporis. Dignissimos, repudiandae.
            </p>
          </div>

          <div class="servicio-tarjeta">
            <img
              src="../images/servicios/masaje-circulatorio.jpg"
              alt="Masaje Circulatorio"
            />

            <div class="servicio-targeta-info">
              <h3>Masaje Circulatorio</h3>
              <p>95 €</p>
            </div>
            <p class="servicio-tarj-descripcion">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
              corrupti nam suscipit expedita ratione illum sequi, fugit modi
              sint voluptatum ipsam recusandae nemo reprehenderit unde quas qui
              corporis. Dignissimos, repudiandae.
            </p>
          </div>

          <div class="servicio-tarjeta">
            <img src="../images/servicios/podal.jpg" alt="Podal" />

            <div class="servicio-targeta-info">
              <h3>Podal</h3>
              <p>30 €</p>
            </div>
            <p class="servicio-tarj-descripcion">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
              corrupti nam suscipit expedita ratione illum sequi, fugit modi
              sint voluptatum ipsam recusandae nemo reprehenderit unde quas qui
              corporis. Dignissimos, repudiandae.
            </p>
          </div>
        </div>
      </section>

      <section class="servicios-section">
        <h2 class="servicios-titulo">Entrenamiento Físico</h2>

        <div class="servicios-inf">
          <div class="servicio-tarjeta">
            <img
              src="../images/servicios/pilates-estudio.jpg"
              alt="Pilates estudio"
            />

            <div class="servicio-targeta-info">
              <h3>Pilates estudio</h3>
              <p>55 €</p>
            </div>
            <p class="servicio-tarj-descripcion">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
              corrupti nam suscipit expedita ratione illum sequi, fugit modi
              sint voluptatum ipsam recusandae nemo reprehenderit unde quas qui
              corporis. Dignissimos, repudiandae.
            </p>
          </div>

          <div class="servicio-tarjeta">
            <img src="../images/servicios/yoga.jpg" alt="Yoga" />

            <div class="servicio-targeta-info">
              <h3>Yoga</h3>
              <p>60 €</p>
            </div>
            <p class="servicio-tarj-descripcion">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
              corrupti nam suscipit expedita ratione illum sequi, fugit modi
              sint voluptatum ipsam recusandae nemo reprehenderit unde quas qui
              corporis. Dignissimos, repudiandae.
            </p>
          </div>
        </div>
      </section>
    </div>

    <footer class="footer-container">
      <div class="footer-logo">
        <img src="../images/SpaCanelitaLogo.svg" alt="Spa canelita" />
      </div>

      <p class="footer-description">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus
        temporibus praesentium deleniti, eaque delectus culpa dolorem aperiam
        quaerat maiores voluptatibus doloremque quisquam? Neque cupiditate
        tenetur, a eveniet delectus ut qui!
      </p>

      <div class="footer-inf-container">
        <div class="info-item">
          <img src="../images/ubicacion-icono.svg" alt="ubicación" />

          <p>Cl. Toledo, 23, 13005 Ciudad Real</p>
        </div>

        <a href="tel:+34672998765" class="info-item">
          <img src="../images/tel-icono.svg" alt="telefono" />

          <p>+34 672 99 87 65</p>
        </a>

        <div class="info-item">
          <img src="../images/email-icono.svg" alt="email" />

          <p>contacto@spacanelita.com</p>
        </div>
      </div>

      <div class="legal-container">
        <div class="copyright-cont">
          <img src="../images/copyright-icono.svg" alt="C" />

          <p>Spa Canelita, Derechos de autor.</p>
        </div>

        <div class="redes-sociales">
          <a class="social-link" href="https://twitter.com" target="_blank">
            <img src="../images/twitter-icono.svg" alt="twitter" />
          </a>

          <a class="social-link" href="https://facebook.com" target="_blank">
            <img src="../images/facebook-icono.svg" alt="facebook" />
          </a>

          <a class="social-link" href="https://whatsapp.com" target="_blank">
            <img src="../images/whatsapp-icono.svg" alt="whatsapp" />
          </a>

          <a class="social-link" href="https://instagram.com" target="_blank">
            <img src="../images/instagram-icono.svg" alt="instagram" />
          </a>
        </div>
      </div>
    </footer>
    <!--<script src="../js/load.js"></script>
  </body>
</html>-->
