<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contactos</title>
    <link rel="shortcut icon" href="../images/Spa.svg" type="image/x-icon" />
    <link rel="stylesheet" href="../css/componentes.css" />
    <link rel="stylesheet" href="../css/contactos.css" />
    <script src="/js/load.js"></script>
  </head>
  <body>
    <div class="" id="header-container"></div>

    <div class="contacto-container">
      <div class="contacto-mapa">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1550.5762930241824!2d-3.9296455603271534!3d38.98901379999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6bc36a24f7489b%3A0x999653d34008e8fa!2sC.%20de%20Toledo%2C%2023%2C%2013003%20Ciudad%20Real!5e0!3m2!1ses!2ses!4v1730741605910!5m2!1ses!2ses"
          width="100%"
          height="700"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>

      <div class="contacto-mensaje">
        <h2>Contacto para cualquier consulta</h2>
        <div class="contacto-mensaje-datos">
          <div class="contacto-mensaje-datos-L1">
            <input type="text" id="nombre" placeholder="Nombre" />

            <input type="email" id="email" placeholder="Email" />
          </div>

          <textarea class="contacto-mensaje" name="mensaje" id="mensaje">
Cordial saludo...
          </textarea>

          <button class="contacto-enviar">Enviar</button>
        </div>
      </div>
    </div>

    <footer class="footer-container">
      <div class="footer-logo">
        <img src="../images/SpaCanelitaLogo.svg" alt="Spa canelita" />
      </div>

      <p class="footer-description">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus
        temporibus praesentium deleniti, eaque delectus culpa dolorem aperiam
        quaerat maiores voluptatibus doloremque quisquam? Neque cupiditate
        tenetur, a eveniet delectus ut qui!
      </p>

      <div class="footer-inf-container">
        <div class="info-item">
          <img src="../images/ubicacion-icono.svg" alt="ubicación" />

          <p>Cl. Toledo, 23, 13005 Ciudad Real</p>
        </div>

        <a href="tel:+34672998765" class="info-item">
          <img src="../images/tel-icono.svg" alt="telefono" />

          <p>+34 672 99 87 65</p>
        </a>

        <div class="info-item">
          <img src="../images/email-icono.svg" alt="email" />

          <p>contacto@spacanelita.com</p>
        </div>
      </div>

      <div class="legal-container">
        <div class="copyright-cont">
          <img src="../images/copyright-icono.svg" alt="C" />

          <p>Spa Canelita, Derechos de autor.</p>
        </div>

        <div class="redes-sociales">
          <a class="social-link" href="https://twitter.com" target="_blank">
            <img src="../images/twitter-icono.svg" alt="twitter" />
          </a>

          <a class="social-link" href="https://facebook.com" target="_blank">
            <img src="../images/facebook-icono.svg" alt="facebook" />
          </a>

          <a class="social-link" href="https://whatsapp.com" target="_blank">
            <img src="../images/whatsapp-icono.svg" alt="whatsapp" />
          </a>

          <a class="social-link" href="https://instagram.com" target="_blank">
            <img src="../images/instagram-icono.svg" alt="instagram" />
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
