<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Políticas de privacidad</title>
  </head>
  <body>
    <h1>Políticas de Privacidad</h1>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat minima,
      fuga quia quo earum quos, eveniet praesentium enim mollitia sapiente
      tenetur ut sunt ipsam provident suscipit iure laudantium molestias
      inventore?
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat minima,
      fuga quia quo earum quos, eveniet praesentium enim mollitia sapiente
      tenetur ut sunt ipsam provident suscipit iure laudantium molestias
      inventore?
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat minima,
      fuga quia quo earum quos, eveniet praesentium enim mollitia sapiente
      tenetur ut sunt ipsam provident suscipit iure laudantium molestias
      inventore? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis
      obcaecati reiciendis laborum architecto atque inventore labore accusamus
      repellendus, ratione iure cum consequatur doloremque et, voluptate animi?
      Quos, rerum quidem? Temporibus? Lorem ipsum dolor sit, amet consectetur
      adipisicing elit. Ab saepe accusantium quos vel nulla quasi inventore
      sequi deleniti nam dolores facilis cumque earum necessitatibus odit
      reprehenderit eveniet, commodi corrupti? Et.
    </p>
  </body>
</html>
