<header class="header-container">
      <div class="header-logo-container">
        <a href="index.html" class="header-logo-link"
          ><img
            class="header-logo-img"
            src="../images/SpaCanelitaLogo.svg"
            alt="Spa Canelita Logo"
        /></a>
      </div>

      <nav class="header-nav-container">
        <a href="./index.html" class="header-nav-link">Inicio</a>
        <a href="./servicios.html" class="header-nav-link">Servicios</a>
        <a href="./agendar.html"  class="header-nav-link">Pide tu Cita</a>
        <a href="./contactos.html" class="header-nav-link">Contacto</a>
      </nav>
    </header>