<header class="header-container" id="header_site">
      <div class="header-logo-container">
        <a href="index.html" class="header-logo-link"
          ><img
            class="header-logo-img"
            src="../images/SpaCanelitaLogo.svg"
            alt="Spa Canelita Logo"
        /></a>
      </div>

      <nav class="header-nav-container" id="nav_header">
        <a href="views/index.html" class="header-nav-link">Inicio</a>
        <a href="views/servicios.html" class="header-nav-link">Servicios</a>
        <a href="views/agendar.html"  class="header-nav-link">Pide tu Cita</a>
        <a href="views/contactos.html" class="header-nav-link">Contacto</a>
      </nav>
    </header>